<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/assets/css/style-cv.css" rel="stylesheet">
</head>

<body>
  <app-fe-header></app-fe-header>
  <div class="main-content container">
    <router-outlet></router-outlet>
  </div>
  <app-fe-footer></app-fe-footer>
</body>
</html>
