<div class="container-fluid py-4">
  <div class="row">
      <div class="col-12">
        <div class="phones row safe-area px-2 py-3 mt-5">
            <h5>Thông tin sản phẩm</h5>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="{{productDetail.image_url}}" alt="">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 mt-5">
                    <h3>{{productDetail.name}}</h3>
                    <div class="price mt-3 py-1 px-2">
                        <span>Giá đề xuất: <h4>${{productDetail.price}}</h4></span>
                    </div>
                    <div class="desc mt-5">
                        <span>Thông tin chi tiết</span>
                        <p>{{productDetail.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>


