<header class="main-header">
  <nav class="navbar header-nav header-white header-transparent navbar-expand-lg one-page-nav" style="padding-top: 5px;padding-bottom: 5px;">
      <div class="container">
          <a class="navbar-brand" href="">
              <img src="/assets/img/logo.svg" title="" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-toggle" aria-controls="navbar-collapse-toggle" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse-toggle">
              <ul class="navbar-nav ml-auto">
                  <li><a class="nav-link" style="color: black;" data-scroll-nav="0" routerLink="./"><span>Home</span></a></li>
                  <li><a class="nav-link" style="color: black;" data-scroll-nav="1" routerLink="./phones"><span>Phones</span></a></li>
                  <li><a class="nav-link" style="color: black;" data-scroll-nav="2" routerLink="/admin"><span>Dashboard</span></a></li>
              </ul>
          </div>
      </div>
  </nav>
</header>
