<section data-scroll-index="2" class="section services-section border-top-g">
  <div class="container">
      <div class="row section-heading-02">
          <div class="col-md-12">
              <div class="section-title">
                  <h3><span>My Schools</span></h3>
              </div>
          </div>
      </div>
      <div class="row gy-4">
          <div class="" *ngFor="let x of schools">
            <div class="feature-box-01 media">
                <div class="icon" style="font-size: 25px;background-image: linear-gradient(to bottom right, #8ac4ee, #6e65e6);">{{x.start_year}}</div>
                <div class="feature-content col">
                    <h5><b>{{x.name}}</b></h5>
                    <p>{{x.desc}}</p>
                    <br>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
