<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card my-4 safe-area">
                <div class="card-header pb-0">
                    <h6 class="float-left">List Products</h6>
                    <a routerLink="/admin/phone/add" class="btn btn-outline-info btn-xs font-weight-bold text-xs mx-2 px-2 py-2 float-right">+ New</a>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sản phẩm</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Giá</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trạng thái</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of products" >
                                <td style="padding-left: 25px;">
                                    <p class="text-xs font-weight-bold mb-0 ml-5">{{item.id}}</p>
                                </td>
                                <td style="display: inline-block" tabindex="0" data-toggle="tooltip" title="Xem chi tiết sản phẩm">
                                    <div class="d-flex pl-2 py-1 info-product">
                                        <div>
                                            <a routerLink="/admin/phone/{{item.id}}" ><img src="{{item.image_url}}" class="avatar avatar-xl me-3" alt=""></a>
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <a routerLink="/admin/phone/{{item.id}}"><h6 class="mb-0 text-sm">{{item.name}} <i class="fa-solid fa-arrow-up-right-from-square text-secondary"></i></h6></a>
                                            <p class="text-xs text-secondary mb-0">{{ item.desc.replace(item.desc.substring(50
                                              ), "...") }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h6>${{item.price}}</h6>
                                </td>
                                <td class="align-middle text-center text-sm"  tabindex="0" data-toggle="tooltip" title="Ẩn sản phẩm">
                                    <app-status-btn [status]="item.status" (changeStatus)="ChangeStatus($event, item)"></app-status-btn>
                                </td>
                                <td class="align-middle">
                                    <a routerLink="/admin/phone/edit/{{item.id}}" class="btn btn-outline-info btn-xs font-weight-bold text-xs mx-2 px-2 py-2">Edit</a>
                                    <button class="btn btn-outline-primary btn-xs font-weight-bold px-3 py-2" (click)="remove(item.id)"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                            <!-- <tr>
                              <td style="padding-left: 25px;">
                                  <p class="text-xs font-weight-bold mb-0 ml-5">1</p>
                              </td>
                              <td style="display: inline-block" tabindex="0" data-toggle="tooltip" title="Xem chi tiết sản phẩm">
                                  <div class="d-flex pl-2 py-1 info-product">
                                      <div>
                                          <a routerLink="/admin/product/1" ><img src="https://cdn.tgdd.vn/Products/Images/42/228736/iphone-12-violet-1-600x600.jpg" class="avatar avatar-xl me-3" alt=""></a>
                                      </div>
                                      <div class="d-flex flex-column justify-content-center">
                                          <a routerLink="/admin/product/1"><h6 class="mb-0 text-sm">iPhone 14 Pro Player <i class="fa-solid fa-arrow-up-right-from-square text-secondary"></i></h6></a>
                                          <p class="text-xs text-secondary mb-0">iPhone 14 sở hữu con chip Apple A15 Bionic có siêu sức mạ...</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h6>1200$</h6>
                              </td>
                              <td class="align-middle text-center text-sm"  tabindex="0" data-toggle="tooltip" title="Ẩn sản phẩm">
                                  <button class="badge badge-sm bg-gradient-danger btn py-1">Ẩn</button>
                              </td>
                              <td class="align-middle">
                                  <a routerLink="/admin/product/edit/1" class="btn btn-outline-info btn-xs font-weight-bold text-xs mx-2 px-2 py-2">Edit</a>
                                  <button class="btn btn-outline-primary btn-xs font-weight-bold px-3 py-2" onclick="confirm('Bạn có muốn xóa?')"><i class="fa-solid fa-trash-can"></i></button>
                              </td>
                          </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

